body {
    background-color: #F1EFE9;
    padding: 0;
    margin: 0;
}
 
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.producersProfile {
    .producerBanner {
        img {
            width: 100%;
        }
    }

    .producerDetails{
        text-align: center;
        margin-top: -120px;
    }
}

.logo p {
    font-family: 'Montserrat';
}

h3 {
    font-family: "Gilda Display", serif;
    font-weight: 900;
    font-size: 26px;
}

.producerDetails p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 42px;
}

