header {
    background-color: #a36b3e;
    /* cor de fundo */
    color: #fff;
    /* Cor do texto */
    display: flex;
    /* elementos (logo e ícones) ficarem lado a lado */
    justify-content: space-between;
    /* Distribui o espaço horizontal */
    align-items: center;
    /* Alinhamento central */
    padding: 15px 60px;

    a {
        color: #fff;
        text-decoration: none; 
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .logo img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    h1 {
        /* Aplica o estilo ao título FEIRA VIRTUAL */
        font-size: 48px;
        /* Define o tamanho da fonte */
        font-weight: 400;
        /* Define a espessura da fonte */
        margin-bottom: -4px;
        /*Adiciona uma margem negativa abaixo do título*/
        line-height: 100%;
        /* Define a distância vertical entre linhas de texto*/
        font-style: normal;
        /*Define o estilo da fonte*/
    }


    p {
        font-size: 0.9rem;
    }

    .icons img {
        width: 28px;
        height: 28px;
        margin-left: 15px;
        cursor: pointer;
        object-fit: contain;
    }

    .icons svg {
        width: 28px;
        height: 28px;
        margin-left: 15px;
        cursor: pointer;
        object-fit: contain;
    }

    }




body {
    background-color: #F1EFE9;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

footer {
    .footerContent {
        display: flex;
        gap: 20px;
        margin-top: 100px ;

        .footerCol {
            flex: 1;
            padding: 20px;
            background-color: white;
            border-radius: 10px;

            h4 {
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                padding-bottom: 25px;
                font-weight: normal;
            }

            ul {
                list-style: none;

                li {
                    padding-bottom: 30px;

                    a {
                        font-size: 16px;
                        text-decoration: none;
                        color: black;
                        font-family: "Montserrat", sans-serif;
                    }
                }
            }

            &.about {
                .logo {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }

                p {
                    padding: 20px 40px 0;
                }

                .socialMedias {
                    padding: 40px 40px 0;

                    h4 {
                        padding-bottom: 0;
                    }

                    .socialIcons {
                        display: flex;
                        padding-top: 10px;
                        gap: 10px;

                        a {
                            display: flex;
                        }
                    }
                }
            }

            &.navigation,
            &.support {
                padding: 50px 40px;
            }
        }
    }
}